body {
  padding: 20px;
}

.todo-list {
  display: flex;
  flex-flow: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  margin-top: 40px;
}

.todo-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  text-align: center;
  border-radius: none;
  align-items: center;
  border-radius: 5%;
  background-color:rgb(245, 245, 245);
}

.urgent {
  background-color:rgb(182, 17, 17);
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
}

.todo-form input {
  border-radius: 6px;
  margin-bottom: 10px;
}

.todo-form label {
  margin-bottom: 10px;
}

.todo-form input[type= "submit"]{
  background-color: rgb(43, 172, 43);
  color: white;
  width: 80px;
}

.edit-button {
  background-color: rgb(40, 120, 238);
}

.delete-button {
  background-color: rgb(221, 34, 34);
}

.button {
  color: white;
  font-weight: bold;
  border-radius: 6px;
  margin: 5px;
}

.inner-todo {
  background-color: white;
  width: 200px;
  height: 200px;
  margin-left: -25px;
  margin-top: 15px;
  border-radius: 5%;
  box-shadow: 0 0 30px rgb(159, 159, 159);
}

.urgent .inner-todo {
  box-shadow:  0 0 30px rgb(92, 13, 13);
}